<div class="step step-segment" data-widget="new-challenge-map" data-widget-search-url="<%= search_segments_challenges_path %>">
  <div class="col-xs-12 col-md-8">
    <div class="map-container">
      <div class="map-content">
        <div id="map"></div>
        <input id="map-search" type="text" placeholder="Search for your segment city/address...">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <h3 class="sidebar-title">Segments</h3>
    <div class="results-loading"></div>
    <div class="results-container"></div>
  </div>
</div>
