<div id="modal-about" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">How it works</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Sign in with your Strava account</li>
          <li>Create a challenge and choose a segment</li>
          <li>Set the challenge deadline</li>
          <li>Share the challenge link with friends so that they can join</li>
          <li>Run or ride your chosen segment</li>
          <li>Upload your activity on Strava</li>
          <li>Wait until the challenge ends</li>
          <li>Check who has won!</li>
        </ul>
      </div>
    </div>
  </div>
</div>
