<div>
  <div class="left">
    <img src="<%= activity.originator.profile_picture_url  %>" class="avatar" />
  </div>
  <div class="right">
    <span class="date"><%= l activity.event_created_at, format: :long %></span>
    <p class="description">You joined TimeTrial</p>
  </div>
</div>
