<div class="container">
  <div class="col-xs-12">
    <h1>Settings</h1>
    <p>You are logged in as <strong><%= current_user.name %></strong> (<%= current_user.email %>).</p>
    <p>If you want you can logout and <strong>permanently</strong> delete you account clicking the following button.</p>
      <%= render partial: 'shared/account_delete_description' %>
      <%= link_to 'Delete my account', user_account_path, method: :delete, class: 'btn btn-lg btn-danger', data: { confirm: "Are you sure you want to permanently delete your account?"} %>
    </p>
  </div>
</div>
