<p>Please note that <strong>there is no way do undo this</strong>. Here is what will happen:</p>
  <ul>
    <li>You will be removed from all the challenges you joined.</li>
    <li>Your challenge moving time data will be <strong>permanently deleted</strong>.</li>
    <li>All challenges created by you will be <strong>permanently deleted</strong>.</li>
    <li>Your account with your email, name, and strava API access token will be <strong>permanently deleted</strong>.</li>
  </ul>
</p>
