<div class="col-xs-12 text-center welcome">
  <h2 class="title">Challenge your friends with a segment TimeTrial</h2>
  <a href="<%= user_omniauth_authorize_path(provider: :strava) %>">
    <img src="<%= image_path 'btn-login-strava-2x.png' %>" />
  </a>
</div>
