<div class="row">
  <div class="col-xs-12">
    <h1>New Challenge - Select a segment</h1>
  </div>

  <div class="col-xs-12 col-md-8" data-widget="new-challenge-map">
    <div class="map-container">
      <div class="map-content">
        <div id="map"></div>
        <input id="map-search" type="text" placeholder="Search for your segment city/address...">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    List
  </div>
</div>
